@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    min-width: 470px;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

header ul li {
    display: inline;
}

.chrome {
    opacity: 0.5;
    border-radius: 50%;
}

.chrome:hover {
    cursor: pointer;
    opacity: 0.7;
}

.temperature {
    font-size: 2rem;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
    background: url(../images/image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.time-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    list-style-type: none;
    width: 100%;
}

.list-item {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.currentTime {
    font-size: 7rem;
    font-weight: 2s00;
}

.greeting {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 auto;
    width: 50%;
}

footer {
    color: rgba(161, 161, 161, 0.615);
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 2rem;
}

.colon {
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}
