@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.time-container {
    background: url(../images/image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.currentTime {
    font-size: 12rem;
    font-weight: 100;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.greeting {
    font-size: 3rem;
    font-weight: 400;
    height: 6rem;
    top: 50%;
}
